*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeInsightSettings.xml
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/scopes/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Built application files
*.apk
*.aar
*.ap_
*.aab
*.exec

*.gpg